.minho {
  fill: #ff4d6d;
  stroke: #333;
  stroke-width: 2;
}

.douro{
    fill: #24ee27;
  stroke: #333;
  stroke-width: 2;
}

.lisbon{
    fill: #1a1eea;
  stroke: #333;
  stroke-width: 2;
}

.serra-estrela{
    fill: #d0ec17;
  stroke: #333;
  stroke-width: 2;
}

.algarve{
    fill: #e111c5;
  stroke: #333;
  stroke-width: 2;
}
.alentejo{
    fill: #05edda;
  stroke: #333;
  stroke-width: 2;
}
.madeira{
  fill: #edca05;
stroke: #333;
stroke-width: 2;
}
.ribatejo{
  fill: #de1a27;
stroke: #333;
stroke-width: 2;
}

path:hover {
  fill: #000000;
  stroke: #ffffff;
}

#map{
  display: flex;
}